---
import { Image } from 'astro:assets'
import { Card as ShadcnCard } from './ui/card'
import type { Project } from '@/lib/types'
import type { HtmlHTMLAttributes } from 'react'
import { Badge } from './ui/badge'
import { cn } from '@/lib/utils'
import { Button } from './ui/button'
import { SquareArrowOutUpRightIcon } from 'lucide-react'
import { Icon } from './icons/icon'

interface Props extends Project {
  class?: HtmlHTMLAttributes<HTMLDivElement>['className']
}

const {
  class: className,
  hrefRepo,
  hrefWeb,
  tags,
  heading,
  type,
  image,
  alt,
}: Props = Astro.props
---

<article class={cn(className)}>
  <ShadcnCard className={cn('relative flex h-full flex-col overflow-hidden')}>
    <Image
      src={image}
      alt={alt}
      width={image.width}
      height={image.height}
      format={image.format}
      class="h-48 w-full rounded-2xl rounded-bl-none rounded-br-none object-cover"
      loading="eager"
    />
    <div class="flex h-full flex-col gap-y-0.5 px-5 py-4">
      <h2 class="font-sans text-lg font-bold leading-tight">{heading}</h2>

      {
        tags?.length && (
          <div class="mt-2 flex flex-wrap gap-2">
            {tags?.map((tag) => (
              <Badge
                className="font-light text-xs leading-tight"
                variant="outline"
              >
                {tag}
              </Badge>
            ))}
          </div>
        )
      }
      <section class="mt-auto flex items-center justify-end gap-x-2">
        {
          hrefRepo && (
            <Button className="group h-8 w-8 p-3 " role="link">
              <a
                target="_blank"
                href={hrefRepo}
                class="relative block h-full w-full"
                title={`Visitar repositorio ${hrefRepo}`}
                aria-label={`Visitar repositorio ${hrefRepo}`}
              >
                <SquareArrowOutUpRightIcon
                  className="opacity-0 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity duration-300 group-hover:opacity-100"
                  size={20}
                />
                <Icon
                  name="github"
                  className="h-5 w-5 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity duration-300 group-hover:opacity-0 group-hover:z-10"
                />
              </a>
            </Button>
          )
        }
        {
          hrefWeb && (
            <Button className="group h-8 w-8 p-3 " role="link">
              <a
                target="_blank"
                href={hrefWeb}
                class="relative block h-full w-full"
                title={`Visitar sitio web ${hrefWeb}`}
                aria-label={`Visitar sitio web ${hrefWeb}`}
              >
                <SquareArrowOutUpRightIcon
                  className="opacity-0 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity duration-300 group-hover:opacity-100"
                  size={20}
                />
                <Icon
                  name="internet"
                  className="h-5 w-5 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition-opacity duration-300 group-hover:opacity-0 group-hover:z-10"
                />
              </a>
            </Button>
          )
        }
      </section>
    </div>
    {type && <Badge className="absolute top-4 right-4">{type}</Badge>}

    <slot />
  </ShadcnCard>
</article>
